html{
    height: 100%;
    scroll-behavior: smooth;
    /* filter: invert(); */
}
body{
    /* background: linear-gradient(90deg,rgb(45, 32, 58) 0vh, black 10vh,black 90vh, rgb(0, 255, 60) ); */
    background-color:rgb(255, 255, 255);
    background-image: url(../assets/Sprite-0006.png);
    background-size: cover;
}
h1{
    color: red;
    z-index: 3;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    /* background-color: black; */
   
    padding: 5px 20px 5px 10px;
}
a{
    text-decoration:none;
    text-transform: uppercase;
    font-style: normal ;
    /* font-display: ; */
    font-family: "Times New Roman", serif;
    color: rgb(0, 0, 0);
}
.navigation a:hover {
    background-color:white;
    color:black;
}
#gallery-list{
    background-color: black;
    
}
#gallery-list a{
    font-size: 30px;
    color: white;
    margin: 1em 1em 1em 1em;
}
nav ul {
   /* background-color: black; */
    margin: auto;
    text-align: center;
    
    /* margin-left: 10px; */
    padding: 5px 10px 5px 10px;
}
nav li{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
    margin: 20px
}

.gif {
    /* flex: auto; */
    /* align-self: center; */
    /* justify-self: center; */
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto; */
    transform: scale(1);
    
    /* padding-top:100px; */
}
#me {
    text-align: justify;
    width: 400px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 30px 30px 30px 30px;
    color: white;
    }
#me img{
    display: block;
    /* margin-left:30px;
    padding: 10 0 0 0; */
      /* position: absolute; */
    /* left: 50vw;
    top: 50vh; */
    transform: scale(1.2);
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.name {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
    }

/* 
img {
    /* position: absolute;
    left: 50vw;
    top: 50vh;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; 
} */
footer{
    color:gray;
    text-align: center;
    
}
.paintings {
    display: flex;
    /* justify-content: left; */
    align-items: center;
    flex-direction: row;
    flex-flow: row;
    
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.painting-list-year-section{

    color:rgb(250, 115, 115);
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5;
    margin: auto  0px auto 0px;
    position: relative;
}
.painting-year a{
    background-color:rgba(1, 1, 1,0.2);
    color: white;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: ; */
    /* top: 0px; */
    width: 100%;
 
    
}
.painting-year{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.painting-year a::before{
    content: ' ';
    /* position: ; */
    /* display: ; */
    /* color: wheat; */
    /* width: 40%;
    background: white; 
    display: block;
    margin-top: -1px; */

}
/* .paintings img{
    /* position: relative; */
    /* border-block-width: 50; 
    
    
    
} */
#resim {
    /* width: 30em; */
    
    /* width: 50%; */
    width: 30%;
    height: 30%;
    object-fit: contain;
    /* height: 1500px; */
    margin: 0.5em 0.5em 0.5em 0.5em;
    /* flex-basis: 10em; */
}

